/* css for the home route  */
.routeContainer #HomeContainer {
  padding: 70px 0;
}

.routeContainer :first-child main {
  overflow: auto;
  height: 400px;
}
.routeContainer :first-child main section {
  /* background-color: aliceblue; */
  float: left;
  width: 50%;
  height: 100%;
}
section {
}
.textInformation {
  /* text-align: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
.textInformation h3 {
  margin: 0;
  padding-bottom: 1em;
}
.nameAndCountryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 425px;
}
.nameAndCountryContainer h1 {
  /* padding: 1px 0; */
}

/* css for linked in connt buttonnn */
div.linkedinConnect {
  padding-top: 2em;

  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
div.linkedinConnect p {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
}
div.linkedinConnect button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  animation: sway 2s infinite alternate;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  transition: transform 0.5s, box-shadow 0.5s;
}

div.linkedinConnect button:hover {
  transform: scale(1.3) rotate(-360deg) translateY(-0.5em);
  box-shadow: 0 0 20px 0 rgba(29, 161, 242, 0.5);
}

.icon {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));
  transition: transform 0.5s;
}

.icon:hover {
  transform: scale(9);
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.9));
}
.imageContainerSectionTag {
}
.imageContainer {
  max-width: 350px;
  margin: auto;
}

/* animation for text */

#nameandCountry {
  /* border: 1px solid #ffffff; */
  width: 500px;
  color: #ffff;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  animation: typing 15s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite, fade-out 2s forwards;
}

@keyframes typing {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  75% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
    /* display: none; */
  }
  100% {
    border-color: transparent;
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h5#welcomeToMyPage {
  animation: slideIn 2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  body {
    /* border: 10px solid; */
  }

  div#HomeContainer main {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    /* justify-content: center; */
    align-items: center;
  }
  div#HomeContainer main section.imageContainerSectionTag {
    width: 100%;
  }
  div#HomeContainer main section.textInformation {
    margin-left: 0em;
    padding-top: 2em;
    align-self: baseline;
    width: 100%;
  }
  .nameAndCountryContainer {
    max-width: 260px;
    flex-direction: column;
    gap: 1em;
  }
  .textInformation h3 {
    font-size: 18px;
  }
  .textInformation h1 {
    font-size: 15px;
  }
  .textInformation p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 899px) {
  /* Styles for tablet devices */
  body {
    /* border: 10px solid blue; */
  }

  /* Add more styles as needed for tablets */
}
